@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
	margin:0;
	padding:0;
}

/* ----------------
  	   main 
   ---------------- */
#app{
	display: flex;
}
#sidebar{
	flex-shrink: 0;
	width:230px;
	padding:20px;
	position: relative;
}

#search-widget{
	position: fixed;
}

#search-field{
	display: flex;
}
.search-field-label{
	display: block;
	margin:10px 0;
}

#search-field-text{
	width:120px;
	background-color: #fff;
	padding:9px 12px;
	border:1px solid #DBDBDB;
	transition:0.3s all ease;
}

#search-field-btn{
	background-color: #fff;
	padding:9px 12px;
	border:1px solid #DBDBDB;
	transition:0.3s all ease;
	cursor: pointer;
}

#search-field-text:hover, #search-field-btn:hover,
#search-field-text:focus, #search-field-btn:focus{
	outline:0;
	border:1px solid #000;

}

#categories{
	margin-top:50px;
}

.category-item{
	margin-top:5px;
	font-size:12px;
	display: block;
}

#main{
	/*flex-grow: 1;*/
	border-left: 1px solid #DBDBDB;
	padding:0 0 20px 20px;


}

#top-bar{
	margin-top:30px;
	display: flex;
	justify-content: space-between;
}
#top-bar >.pagination-section{
	margin:0;
}


.select-limit{
	background-color: #fff;
	font-size:16px;
	padding:9px 12px;
	border:1px solid #DBDBDB;
	transition:0.3s all ease;
	cursor: pointer;
}
.select-limit:hover, .select-limit:focus{
	border:1px solid #000;
	outline:0;
	cursor: pointer;
}

.main-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width:95%;
	padding:25px 0;
}

.item-drug{
	width:200px;
	min-width:200px;
	min-height:200px;
	padding:10px;
	margin:10px 2px;
	border:1px solid #DBDBDB;
	transition: 0.2s all ease;
}

.item-drug:hover{
	border:1px solid #000;
	/*box-shadow: 0 4px 6px 6px #E2E2E2, 0 6px 12px 12px #E9E9E9; */
}

.item-drug__title{
	text-align: center;
	color:#75050C;

}

.item-drug__img-cont{
	width:150px;
	height:150px;
	display: flex;
	justify-content:center;
	align-items: center;
	margin:5px auto;
}

.item-drug__img{
	display: block;
	margin:0 auto;
	width:100%;
	max-width:150px;
	max-height:150px;

}

.item-drug__cat{
	margin:0 auto;
	text-align: center;
	font-size:12px;
	color: #4B4B4B;
}

.details{
	font-size:12px;
}
.details:hover{
	cursor: pointer;
}

.drug-item__tooltip{
	position: absolute;
	padding:10px;
	font-size:12px;
	background-color: #fff;
	border:1px solid #DBDBDB;
}

.drug-item__tooltip:hover{
	border:1px solid #000;
}

.drug-info{
	padding:5px;
}

.drug-info-item{
	margin:3px;
}

.drug-info-item__link{
	text-decoration: none;
	color:#75050C;
}

.tooltip-close{
	position: absolute;
	top:5px;
	right:5px;
	cursor: pointer;
	background-color: transparent;
	border:none;
	outline:0;
}
/* --------------
 	 pagination
   --------------  */

.pagination-section{
	/*width:100%;*/
	max-width:500px;
	margin:0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.pgn-button{
	background-color: #fff;
	font-size:16px;
	padding:9px 12px;
	margin:0 5px;
	border:1px solid #DBDBDB;
	transition:0.3s all ease;
	cursor:pointer;
}
.pgn-button:hover, .pgn-button:focus{
	border:1px solid #000;
	outline:0;
	cursor:pointer;
}

