@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;

}

/* ----------------
  	   main 
   ---------------- */
#top-bar{
	margin-top:15px;
	display: flex;
	justify-content: space-between;
}
#top-bar >.pagination-section{
	margin:0;
}

.hor-line{
	margin:30px 0;
	height:2px;
	background-color: #6E6E6E;
}

.select-limit{
	background-color: #fff;
	font-size:16px;
	padding:9px 12px;
	margin:0 5px;
	border:1px solid #DBDBDB;
	transition:0.3s all ease;
	cursor: pointer;
}
.select-limit:hover, .select-limit:focus{
	border:1px solid #000;
	outline:0;
	cursor: pointer;
}

.main-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width:95%;
	padding:25px 0;
	margin:0 auto;
}

.item-drug{
	width:300px;
	min-width:200px;
	min-height:200px;
	padding:15px;
	margin-top:20px;
	border:1px solid #DBDBDB;
	transition: 0.2s all ease;
}

.item-drug:hover{
	border:1px solid #000;
	/*box-shadow: 0 4px 6px 6px #E2E2E2, 0 6px 12px 12px #E9E9E9; */
}

.item-drug__title{
	text-align: center;
	color:#75050C;

}

.item-drug__img-cont{
	width:180px;
	height:180px;
	display: flex;
	justify-content:center;
	align-items: center;
	margin:5px auto;
}

.item-drug__img{
	display: block;
	margin:0 auto;
	width:100%;
	max-width:180px;
	max-height:180px;

}

.item-drug__cat{
	margin:0 auto;
	text-align: center;
	font-size:12px;
	color: #4B4B4B;
}

.details{
	font-size:12px;
}
.details:hover{
	cursor: pointer;
}

.drug-item__tooltip{
	position: absolute;
	padding:10px;
	font-size:12px;
	background-color: #fff;
	border:1px solid #DBDBDB;
}

.drug-item__tooltip:hover{
	border:1px solid #000;
}

.drug-info{
	padding:5px;
}

.drug-info-item{
	margin:3px;
}

.drug-info-item__link{
	text-decoration: none;
	color:#75050C;
}

.tooltip-close{
	position: absolute;
	top:5px;
	right:5px;
	cursor: pointer;
	background-color: transparent;
	border:none;
	outline:0;
}
/* --------------
 	 pagination
   --------------  */

.pagination-section{
	/*width:100%;*/
	max-width:500px;
	margin:0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.pgn-button{
	background-color: #fff;
	font-size:16px;
	padding:9px 12px;
	margin:0 5px;
	border:1px solid #DBDBDB;
	transition:0.3s all ease;
	cursor:pointer;
}
.pgn-button:hover, .pgn-button:focus{
	border:1px solid #000;
	outline:0;
	cursor:pointer;
}

